body {
    background-size: cover;
    color: rgb(251, 242, 213);
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #E4AD80 0%, #5F3C20 100%);
}
.upper {
    background-color: rgb(202, 154, 102);
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
    border: black solid 3px;
}
.middle {
    margin: auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.middle-left {
    width: 600px;
}
.middle-right {
    background-color: rgb(78, 49, 46);
    width: 400px;
    padding: 0px 20px 20px 20px;
    border: black solid 3px;
    border-radius: 25px;
    text-align: center;
}
.button {
    padding: 10px 20px;
    border-radius: 25px;
    background: lightgray;
}
.button:hover {
    background: white;
}
.button:active {
    background: gray;
}
.lower {
    text-align: right;
}
.instagram {
    width:84px;
    height:84px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
