body, html {
    background-image: url('images/korn_ny.jpg');
    background-size: cover;
    margin: 0;
}
header {
    margin-bottom: 100px;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;

}
.flex-container > div {
    background-color: white;
    width: 400px;
    height: 100%;
    padding: 0px;
    margin: 10px;
}
.box {
    background-color: white;
    width: 200px;
}